@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");
/* font-family: 'Lato', sans-serif; */

:root {
  --color1: #da251c;
  --color2: #183883;
  --color3: #fff;
  --color4: #000;
  --color5: #6666;
  --color6: #f8fafc;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  box-sizing: border-box;
  color: #000;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
p {
  font-size: 16px;
}

.crop {
  object-fit: cover;
}

.text-justify {
  text-align: justify;
}

.separador {
  background: var(--color2);
  width: 40px;
  height: 2px;
}

/* #header {
   -moz-box-shadow: 0 3px 3px rgba(190, 190, 190, 0.75);
 -webkit-box-shadow: 0 3px 3px rgba(190, 190, 190, 0.75);
 box-shadow: 0 3px 3px rgba(190, 190, 190, 0.75);
} */

#header .barsup {
  font-size: 13px;
  padding: 10px 7%;
  background: var(--color1);
  /* color: #FCFCFC; */
}

#header .barsup .contact-item a {
  color: #fcfcfc;
}

#header .barsup .contact-item a i {
  font-size: 16px;
}

#header .barsup .mininav a {
  color: #fcfcfc;
  display: flex;
}

#header .barsup .mininav a i {
  font-size: 16px;
}

#header .barsup .mininav .mininav-item {
  margin: 0 10px;
}

#header .navbar {
  /* background: rgb(37 53 38 / 85%); */
  /* background: #231E18; */
  /* background: #fff; */
  /* background: rgba(255, 255, 255, 0.8); */
  background: #fff;
  /* background: #D2D3D5; */
  /* background: #eaeaea; */
  /* background: #091135; */
  /* background: #000; */
}
#header .navbar .navbar-brand .logo {
  height: 100px;
}

#header .navbar .nav-item {
  margin: 0 6px;
}

#header .navbar .blog {
  background: #ecb338;
  padding: 2.7rem 1rem;
  text-transform: uppercase;
}

#header .navbar-light .navbar-nav .nav-link {
  color: var(--color2);
  /* color: #000 ; */
  text-transform: uppercase;
  font-weight: bold;
}

#header .dropdown-item {
  color: var(--color2);
  text-transform: uppercase;
}

#header .dropdown-item:focus,
#header .dropdown-item:hover {
  color: var(--color3);
  background-color: var(--color2);
}




#footer .contact .title {
  color: var(--color3);
} 

#footer .contact p {
  color: #cecece;
}

#footer .contact span {
  margin-right: 5px;
}

#footer .notice {
  color: var(--color3);
}

#footer .notice .item {
  display: flex;
  border-bottom: 2px solid #382f24;
}

#footer .notice .item .text {
  margin-left: 1rem;
}

#footer .notice .item .text .title {
  color: #cecece;
}

#footer .notice .item .text p {
  margin-top: 1rem;
  color: var(--color3);
} 
